---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<html lang="en">
  <head>
	<meta charset="UTF-8" />
	<link rel="icon" href='Icon.svg'/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name ="generator" content={Astro.generator}>
	<title>HomePage</title>
	<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/"></a>
  </head>
  <body>
	<h1>My Astro site</h1>
  </body>
  <style>
	h1 {
		color: green;
		text-align: center;
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
	body {
	margin: 0;
	width: 100%;
	height: 100%;
	}
  </style>
  
</html>
