---
---
<div>
    <img id='logo' src="/Using_Astro/public/Icon" alt="logo">

</div>
<style>
    div {
        text-align: center;
        background-color: rgb(25, 196, 25);
        color: #555;
        font-family: Arial, sans-serif;
        font-size: 14px;
        bottom: 0;
        width: 100%;
        height: 3rem;
        justify-content: center;
    }
    #logo {
        height: 90%;
    }


    
</style>